@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 24px;
  padding-top: 0px;
  background-color: rgb(39, 39, 39);
  /* font */
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: rgb(243, 243, 243);
}

li {
  padding: 2px;
}

/* links */
a:link {
  color: rgb(161, 203, 255);
}
a:visited {
  color: rgb(191, 155, 254);
}

/* classes */
.header-gradient-accent {
  background: linear-gradient(130deg,rgba(24, 120, 252, 1) 0%, rgba(207, 81, 253, 1) 90%);
  color: transparent;
  background-clip: text;
}
.header-extra-bit {
  font-size: small;
  color: rgb(151, 151, 151);
}

/* footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: start;
  padding: 24px;
}

.not-by-ai {
  height: 42px;
}