body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #4e6bff, #172974);
  font-family: Consolas, Arial, sans-serif;
}

.container {
  background: linear-gradient(to bottom right, #252525, #151515);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.content {
  padding: 20px;
}

.gradient-text {
  background: linear-gradient(to right, #3495eb, #87CEEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: Consolas, Arial, sans-serif;
}

h1 {
  margin: 0;
  font-family: Consolas, Arial, sans-serif;
}

.line {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

p {
  font-family: Consolas, Arial, sans-serif;
  color: white;
}

.gradient-button {
  display: inline-block;
  width: 120px; /* Fixed width */
  padding: 10px 20px;
  margin-right: 10px; /* Added margin between buttons */
  margin-bottom: 10px; /* Added margin below buttons */
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #3495eb, #3C97FF);
  color: white;
  text-decoration: none;
  transition: padding 0.2s; /* added padding transition */
}

.gradient-button:hover {
  padding: 15px 25px; /* slightly increased padding on hover */
}
