@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 24px;
  padding-top: 0px;
  background-color: rgb(39, 39, 39);

  /* font */
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: rgb(243, 243, 243);
}

li {
  padding: 3px;
}

/* links */
a:link {
  color: rgb(161, 203, 255);
}
a:visited {
  color: rgb(191, 155, 254);
}

/* classes */
.accent {
  background: linear-gradient(130deg,rgb(87, 156, 252) 0%, rgb(215, 117, 251) 90%);
  color: transparent;
  background-clip: text;
}
.extra-info {
  font-size: small;
  color: rgb(151, 151, 151);
}

/* footer */
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: start;
  font-size: small;
  margin-top: auto;
}

.not-by-ai {
  padding: 2px;
  height: 42px;
}