---
import Head from '../../components/Head.astro';
import Footer from '../../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title="My socials" />
  </head>
  <body>
    <main>
      <h1>My <span class="accent">social media</span> pages</h1>
      <a href="/">Go back</a>

      <ul>
        <li><a href="https://www.youtube.com/@ConsciousBone">YouTube</a></li>
        <li><a href="https://www.twitch.tv/consciousbone">Twitch</a></li>
        <li><a href="https://www.instagram.com/theconsciousbone">Instagram</a></li>
        <li><a href="https://github.com/ConsciousBone">GitHub</a></li>
        <li><a href="https://www.tiktok.com/@consciousbone">TikTok</a></li>
        <li><a href="https://www.reddit.com/user/TheConsciousBone/">Reddit</a></li>
        <li><a href="https://bsky.app/profile/consciousbone.bsky.social">Bluesky</a></li>
        <li><a href="https://www.x.com/consciousbone">Twitter (or X)</a></li>
        <li><a href="https://ivy.a1429.lol/users/36">Ivy</a></li>
        <li><a href="https://discord.gg/WxcJ4k3">Discord</a></li>
      </ul>
    </main>

    <Footer />
    <script src="https://pagering.gideon.sh/embed.js" defer></script>
  </body>
</html>
