---
import Head from '../../components/Head.astro';
import Footer from '../../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <Head />
  </head>
  <body>
    <main>
      <h1>My <span class="accent">88x31</span> button</h1>
      <a href="/">Go back</a>

      <h2>Preview</h2>
      <a href="https://consciousb.one"><img src="https://consciousb.one/assets/88x31/cbone.png" height="31" class="lil-button"></a>

      <h2>How to use it</h2>
      <p>You can add my 88x31 button to your page by inserting this line of HTML anywhere:</p>
      <code>
        &lt;a href="https://consciousb.one/"&gt;&lt;img src="https://consciousb.one/assets/88x31/cbone.png" height="31"&gt;</a>
      </code>
    </main>

    <footer>
      <Footer />
    </footer>
    <script src="https://pagering.gideon.sh/embed.js" defer></script>
  </body>
</html>
