---
import Head from '../../../components/Head.astro';
import Footer from '../../../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title="About Searchino Lite" />
  </head>
  <body>
    <main>
      <h1>About <span class="accent">Searchino Lite</span></h1>
      <a href="/apps">Go back</a>
      
      <p>Searchino Lite is a web browser for the Apple Watch.</p>
      <p>It's quite similar to <a href="">Searchino</a>, however supports older watches at the cost of some features.</p>
      <p>Read Searchino Lite's privacy policy <a href="/apps/privacypolicy/searchinolite">here</a>.</p>

      <h2>Platforms</h2>
      <ul>
        <li>watchOS 8+</li>
      </ul>

      <h2>Download</h2>
      <ul>
        <li>
          <a href="https://apps.apple.com/gb/app/searchino-lite-web-browser/id6739461313">App Store</a>
        </li>
      </ul>

    </main>

    <Footer />
  </body>
</html>


