---
import Head from '../../components/Head.astro';
import Footer from '../../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title="Contact me" />
  </head>
  <body>
    <main>
      <h1><span class="accent">Contact</span> me</h1>
      <a href="/">Go back</a>

      <h2>Email</h2> 
      <p>For support with my apps, email me at <a href="mailto:apps@consciousb.one">apps@consciousb.one</a>.</p>
      <p>For anything else, email me at <a href="mailto:eplant@consciousb.one">eplant@consciousb.one</a>!</p>

      <h2>Social media</h2>
      <p>You can see my social media pages <a href="/socials">here</a>, feel free to shoot me a DM!</p>
      <p class="extra-info">You will probably get a faster response through email though.</p>
    </main>
    
    <Footer />
  </body>
</html>
