---
import Head from '../../../../components/Head.astro';
import Footer from '../../../../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title="Privacy Policy (Searchino)"/>
  </head>
  <body>
    <main>
      <h1>Privacy Policy (<span class="accent">Searchino</span>)</h1>
      <a href="/apps/searchino">Go back</a>
      
      <p>Searchino itself does not collect, store, or share any personal information or data from its users.</p>
      <p>Despite this, please be aware that the websites you visit using Searchino might collect information about you. </p>
      <p>These websites operate independently of Searchino and have their own privacy policies.</p>
      <p>It is strongly recommended that you read the privacy policies of the websites you visit to understand how they collect, use, and share your information.</p>
      <p>By using Searchino, you acknowledge that you are aware of the potential for third-party websites to collect your information and agree to review their privacy policies for more details.</p>

    </main>

    <Footer />
    <script src="https://pagering.gideon.sh/embed.js" defer></script>
  </body>
</html>


