---
import Head from '../../../components/Head.astro';
import Footer from '../../../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title="About Drumface"/>
  </head>
  <body>
    <main>
      <h1>About <span class="accent">Drumface</span></h1>
      <a href="/apps">Go back</a>
      
      <p>Drumface is an app that, well, lets you play <i>drums</i> with your <i>face</i>...</p>
      <p>It can also send MIDI signals to a connected Mac! See the set up guide <a href="/apps/drumface/midi/index.html">here</a>.</p>
      <p>Read Drumface's privacy policy <a href="/apps/privacypolicy/drumface">here</a>.</p>

      <h2>Platforms</h2>
      <ul>
        <li>iOS 18+</li>
      </ul>

      <h2>Download</h2>
      <ul>
        <li>
          Coming soon™
        </li>
      </ul>

    </main>

    <Footer />
  </body>
</html>


