---
import Head from '../../../components/Head.astro';
import Footer from '../../../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title="About Searchino"/>
  </head>
  <body>
    <main>
      <h1>About <span class="accent">Searchino</span></h1>
      <a href="/apps">Go back</a>
      
      <p>Searchino is a web browser for the Apple Watch.</p>
      <p>It's simple to use, packed with features, and free forever!</p>
      <p>Read Searchino's privacy policy <a href="/apps/privacypolicy/searchino">here</a>.</p>

      <h2>Platforms</h2>
      <ul>
        <li>watchOS 10+</li>
      </ul>

      <h2>Download</h2>
      <ul>
        <li>
          <a href="https://apps.apple.com/gb/app/searchino/id6504538179">App Store</a>
        </li>
      </ul>

    </main>

    <Footer />
  </body>
</html>


